/* Tipografia */
.card__tittle {
  font-size: 2rem;
}

.card__description {
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}

.tip_color {
  color: lightgray;
}

/* Globals */
html {
  font-size: 70%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: none;
}

body {
  font-size: 16px;
  font-family: "Righteous", cursive;
  color: black;
  background-color: #000b76;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.card-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 2px 2px 10px 2px aqua;
  background-size: cover;
  padding: 5rem 0 0;
  max-width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.05);
}

.card:focus-within {
  transform: scale(1.05);
}

.card img {
  order: -1;
  align-self: center;
}

.card__info {
  padding: 2rem;
  background: linear-gradient(lightgray, lightgray);
}

.card__pro {
  background-color: white;
}

iframe {
  max-width: 60%;
}

.main__2 {
  background-color: white;
  margin-top: -0.5rem;
}

.container {
  display: flex;
  margin-top: 1rem;
}

.container_1 {
  display: flex;
  justify-content: center;
}

.p__link {
  background-color: aqua;
}

/* Botones */
.button {
  background-color: aqua;
  color: black;
  display: inline-block;
  border-radius: 1rem;
  border: 1px solid;
  padding: 0.7rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 4px 2px;
  transition: all 1s;
}
.button:hover {
  color: aqua;
  background-color: black;
}
.button:focus {
  color: aqua;
  background-color: black;
}

/* Imagenes */
.img-1 {
  max-width: 40%;
}

.img-2 {
  max-width: 40%;
}

.img__wha {
  display: inline-block;
}

.img__fa {
  display: inline-block;
}

.card__image {
  max-width: 90%;
}

/* Navbar */
.navPrincipal {
  background: #000b76;
  height: 80px;
  width: 100%;
}
.navPrincipal ul {
  float: right;
  margin-right: 20px;
}
.navPrincipal ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navPrincipal ul li a {
  color: lightgray;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.nav__item .nav__link:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.ul-tittle {
  height: 40px;
  display: inline-block;
  font-size: 2.2rem;
  color: lightgray;
  position: absolute;
  padding: 5px 40px;
}

/* Footer */
footer {
  background-color: black;
  padding-top: 1rem;
}

.footer-sm {
  background-color: #212121;
  color: white;
}
.footer-sm a {
  color: white;
}
.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer-sm__icons {
  text-align: center;
  padding: 1.5rem 0;
}

.footer-bottom {
  padding: 1.5rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: lightgray;
  font-weight: 400;
}
.footer-bottom__copyright a {
  color: lightgray;
  text-decoration: none;
}

/* Animacion del titulo */
.ul-tittle .ul-tittle__li {
  list-style: none;
  color: lightgray;
  font-size: 2.5rem;
  animation: iluminar 1.4s linear infinite;
}

@keyframes iluminar {
  0% {
    color: lightgray;
    text-shadow: none;
  }
  90% {
    color: lightgray;
    text-shadow: none;
  }
  100% {
    color: rgb(8, 224, 240);
    text-shadow: 0 0 7px blue, 0 0 50px blue;
  }
}
.ul-tittle .ul-tittle__li:nth-child(1) {
  animation-delay: 0.1s;
}
.ul-tittle .ul-tittle__li:nth-child(2) {
  animation-delay: 0.2s;
}
.ul-tittle .ul-tittle__li:nth-child(3) {
  animation-delay: 0.3s;
}
.ul-tittle .ul-tittle__li:nth-child(4) {
  animation-delay: 0.4s;
}
.ul-tittle .ul-tittle__li:nth-child(5) {
  animation-delay: 0.5s;
}
.ul-tittle .ul-tittle__li:nth-child(6) {
  animation-delay: 0.6s;
}
.ul-tittle .ul-tittle__li:nth-child(7) {
  animation-delay: 0.7s;
}
.ul-tittle .ul-tittle__li:nth-child(8) {
  animation-delay: 0.8s;
}
.ul-tittle .ul-tittle__li:nth-child(9) {
  animation-delay: 0.9s;
}

/* Animacion Tarjetas */
@media (hover) {
  .card__info {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card__info {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}
/* media query */
@media (max-width: 1024px) {
  .ul-tittle .ul-tittle__li {
    font-size: 35px;
    letter-spacing: -15px;
    padding-right: -5px;
  }
  .checkbtn {
    display: block;
  }
  .nav__list {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000b76;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navPrincipal .nav__list .nav__item {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navPrincipal .nav__list .nav__item .nav__link {
    font-size: 20px;
  }
  .nav__item .nav__link {
    background: none;
    color: lightgray;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
