/* estilo global */
html {
  font-size: 70%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

body {
  font-size: 16px;
  font-family: "Righteous", cursive;
  color: black;
  background-color: #000b76;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

.container__sec {
  margin-top: 3rem;
  text-align: center;
}

.container__sec-2 {
  text-align: center;
}

.container__ac {
  margin-bottom: 5rem;
}

.container__re {
  margin-bottom: 5rem;
}

.container__nos {
  margin-bottom: 5rem;
}

.table {
  margin-bottom: 5rem;
  background-color: white;
}

.table__sub {
  margin-bottom: 3rem;
}

.card-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 2px 2px 10px 2px aqua;
  background-size: cover;
  padding: 5rem 0 0;
  max-width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card img {
  order: -1;
  align-self: center;
}

.card__info {
  padding: 2rem;
  background: linear-gradient(gray, gray);
}

.card--pro {
  background-color: white;
}

.list__nos {
  margin-bottom: 2rem;
}

iframe {
  max-width: 60%;
}

/* tipografia */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.h2__init {
  color: gray;
}

.h2__nos {
  font-size: 2.2rem;
  color: gray;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.h3__color {
  color: gray;
}

.h3__color-2 {
  color: gray;
  font-size: 2rem;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.p1 {
  color: gray;
}

legend {
  font-size: 3rem;
  color: gray;
}

label {
  font-size: 2rem;
  color: gray;
}

.terms {
  font-size: 1.5rem;
  color: gray;
}

th,
td {
  font-size: 1.8rem;
}

.card__tittle {
  font-size: 2rem;
}

.card__description {
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}

.article__nos {
  font-size: 2rem;
  color: gray;
  margin-bottom: 3rem;
}

.list__item {
  font-size: 1.8rem;
  color: gray;
  margin-bottom: 1.3rem;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #000b76;
}

.header .ul-tittle {
  font-weight: lighter;
}

.header strong {
  font-weight: bold;
}

.wave {
  margin-bottom: -2.5rem;
}

/* menu */
.navPrincipal {
  width: 80%;
  margin: 2rem auto;
}

.navPrincipal {
  list-style-type: none;
  text-align: center;
  font-size: 0;
}

.navPrincipal > .nav__list .nav__item {
  display: inline-block;
  width: 20%;
  position: relative;
  background-color: #000b76;
}

.navPrincipal .nav__item .nav__link {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: grey;
}

.navPrincipal .nav__item:hover .nav__link {
  background: black;
  border-radius: 2rem;
  color: white;
}

.navPrincipal .nav__item .nav__list {
  position: absolute;
  width: 0;
  overflow: hidden;
}

.navPrincipal .nav__item:hover .nav__list {
  width: 100%;
  margin: 0 -4rem -4rem -4rem;
  padding: 0 4rem 4rem 4rem;
  z-index: 5;
}

.navPrincipal .nav__item .nav__item {
  display: block;
  width: 100%;
}

.navPrincipal .nav__item:hover .nav__item .nav__link {
  font-size: 1.5rem;
  line-height: 1.7rem;
  border-top: 1px solid white;
  background: black;
  padding: 0.4rem;
}

.navPrincipal .nav__item .nav__item .nav__link:hover {
  background: black;
}

/* main */
.main {
  background-color: white;
  display: block;
  margin-bottom: 1rem;
}

/* estilo del footer */
footer {
  background-color: black;
  padding-top: 1rem;
}

.footer-sm {
  background-color: #212121;
  color: white;
}

.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer-sm__icons {
  text-align: center;
  padding: 1.5rem 0;
}

.footer-bottom {
  padding: 1.5rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
}

.footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}

/* botones */
.button {
  background-color: aqua;
  color: black;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2rem;
  width: 30%;
  text-align: center;
  border: 1px solid;
  font-family: "Righteous", cursive;
  transition: all 1s;
}

.button:hover {
  color: aqua;
  background-color: black;
}

.button:focus {
  color: aqua;
  background-color: black;
}

/* imagenes */
.img-1 {
  max-width: 40%;
}

.img-2 {
  max-width: 40%;
}

.img__wha,
.img__fa {
  display: inline-block;
}

.card__image {
  max-width: 90%;
}

/* tabla */
.table__item {
  background-color: gray;
}

/* Animacion Titulo */
.ul-tittle {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-tittle .ul-tittle__li {
  list-style: none;
  color: gray;
  font-size: 4rem;
  letter-spacing: 5px;
  animation: iluminar 1.4s linear infinite;
}

@keyframes iluminar {
  0% {
    color: gray;
    text-shadow: none;
  }
  90% {
    color: gray;
    text-shadow: none;
  }
  100% {
    color: lightblue;
    text-shadow: 0 0 7px lightblue, 0 0 50px blue;
  }
}

.ul-tittle .ul-tittle__li:nth-child(1) {
  animation-delay: 0.1s;
}

.ul-tittle .ul-tittle__li:nth-child(2) {
  animation-delay: 0.2s;
}

.ul-tittle .ul-tittle__li:nth-child(3) {
  animation-delay: 0.3s;
}

.ul-tittle .ul-tittle__li:nth-child(4) {
  animation-delay: 0.4s;
}

.ul-tittle .ul-tittle__li:nth-child(5) {
  animation-delay: 0.5s;
}

.ul-tittle .ul-tittle__li:nth-child(6) {
  animation-delay: 0.6s;
}

.ul-tittle .ul-tittle__li:nth-child(7) {
  animation-delay: 0.7s;
}

.ul-tittle .ul-tittle__li:nth-child(8) {
  animation-delay: 0.8s;
}

.ul-tittle .ul-tittle__li:nth-child(9) {
  animation-delay: 0.9s;
}

/* Animacion tarjetas */
@media (hover) {
  .card__info {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card__info {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}

/* Media quarries */
