/* Navbar */
.navPrincipal {
  background: $france-blue;
  height: 80px;
  width: 100%;

  ul {
    float: right;
    margin-right: 20px;

    li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;

      a {
        color: $gray;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
      }
    }
  }
}

.nav__item {
  .nav__link:hover {
    background: black;
    color: white;
    transition: 0.5s;
  }

  .nav__link.active {
    background: black;
    color: white;
  }
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.enlace {
  position: absolute;
  padding: 5px 40px;
}

.ul-tittle {
  height: 40px;
  display: inline-block;
  font-size: 2.2rem;
  color: $gray;
}
